image: ruby:3.3

variables:
  JEKYLL_ENV: production

before_script:
  - export PATH="$HOME/.rbenv/bin:$PATH"
  - eval "$(rbenv init -)"
  - rbenv global 3.2.2
  - ruby -v
  - gem install bundler
  - bundle install

pages:
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - main
