image: ruby:3.1

variables:
  JEKYLL_ENV: production

before_script:
  - gem install --user-install bundler -v 2.4.22
  - export PATH="$HOME/.gem/ruby/2.6.0/bin:$PATH"
  - bundle install --path vendor/bundle

pages:
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - main
