image: ruby:3.2

build-jekyll:

  script:
    - rbenv global 3.2.2
    - gem install bundler jekyll
    - bundle install
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - addsubpage
   
