image: ruby:3.2

stages:
  - build

build-jekyll:
  stage: build
  script:
    - gem install bundler jekyll
    - bundle install
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - addsubpage
   
