    <section id="contact" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading">Open Positions</h4>
                    <p class="text-primary">Unfortunately, we currently have no open funded positions. We are always however open to hosting researchers with independent funding, in fact this is what makes our group such a diverse and collaborative space. If you are interested in collaborating / joining our team, please reach out!</p>
                    <h4 class="service-heading">Theses</h4>
                    <p class="text-primary">We are open to supervising Bachelor's and Master's theses in the areas of cognitive science, psychology, and related fields. If you have a specific topic in mind, please get in touch!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="service-heading">Adaptive Memory and Decision Making Group</h4>
                    <p class="text-primary">
                        c/o Prof. Dr. Bernhard Spitzer<br>
                        Chair of Biopsychology<br>
                        Department of Psychology<br>
                        Technische Universität Dresden<br>
                        01062 Dresden, Germany <br>
                        <a href="https://tu-dresden.de/mn/psychologie/ifap/biopsychologie" target="_blank" rel="noopener">visit our university page</a>
                    </p>
                </div>
            </div>    
        </div>
    </section>
