<!-- Funding Section -->
    <section id="funding" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funding</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-primary">
                        Research in the lab is primarily funded by the European Research Council and the Deutsche Forschungsgemeinschaft. Individual researchers are further supported by the IMPRS LIFE and COMP2PSYCH, the Einstein Center for Neuroscience Berlin, the Bernstein Center for Neuroscience Berlin, TU Berlin/BIFOLD, Minerva Foundation, and the Max Planck School of Cognition.
                    </p>
                </div>
            </div>
            <!-- Funding logos will go here -->
            <!-- <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="Placeholder logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="Placeholder logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="Placeholder logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="Placeholder logo">
                    </a>
                </div>
            </div> -->
        </div>
    </section>