<!-- Lab Life Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading">Bühlerkolloquium, TU Dresden (April '26 - July '26) </h4>
                    <p class="text-primary"> Talk Series orgnaized by the AMC Group. Click here for more information.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading"> Lab Retreat (February '26) </h4>
                    <p class="text-primary"> The AMC Group orgainzed a Lab Retreat in the beautiful town of Seifhennersdorf. Click here for more information. </p>
                </div>
            </div>
        </div>
    </section>
