<!-- Lab Life Section -->
<section id="lablife" class="bg-light-gray">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lab Life</h2>
                <h3 class="section-subheading text-muted">
                    News and Events from the Lab
                </h3>
            </div>
        </div>


        <!-- Lab Events Grid -->
        <div class="row">


            <!-- Bühlerkolloquium -->

            <div class="col-lg-3 col-md-4 col-sm-6 publication-item">

                <a href="/events/" class="publication-card-link">

                    <div class="publication-card clickable">

                        <div class="publication-content">

                            <h4 class="publication-authors">
                                April – July 2026
                            </h4>

                            <h5 class="publication-title">
                                Bühlerkolloquium, TU Dresden
                            </h5>

                            <p class="publication-journal">
                                Talk series organized by the AMC Group
                                featuring international researchers in
                                cognitive neuroscience.
                            </p>

                        </div>

                    </div>

                </a>

            </div>



            <!-- Lab Retreat -->

            <div class="col-lg-3 col-md-4 col-sm-6 publication-item">

                <a href="/events/" class="publication-card-link">

                    <div class="publication-card clickable">

                        <div class="publication-content">

                            <h4 class="publication-authors">
                                February 2026
                            </h4>

                            <h5 class="publication-title">
                                Lab Retreat
                            </h5>

                            <p class="publication-journal">
                                Scientific discussions, presentations,
                                and team activities in Seifhennersdorf.
                            </p>

                        </div>

                    </div>

                </a>

            </div>



            <!-- CCN -->

            <div class="col-lg-3 col-md-4 col-sm-6 publication-item">

                <a href="/events/" class="publication-card-link">

                    <div class="publication-card clickable">

                        <div class="publication-content">

                            <h4 class="publication-authors">
                                August 2025
                            </h4>

                            <h5 class="publication-title">
                                Cognitive Computational Neuroscience Conference (CCN)
                            </h5>

                            <p class="publication-journal">
                                Members of the AMC Group attended CCN
                                in Amsterdam.
                            </p>

                        </div>

                    </div>

                </a>

            </div>



            <!-- More events -->

            <div class="col-lg-3 col-md-4 col-sm-6 publication-item">

                <div class="publication-card show-all-card">

                    <div class="publication-content text-center">

                        <h3 class="show-all-text">
                            MORE<br>EVENTS
                        </h3>

                        <a href="/events/" class="btn btn-primary btn-lg">
                            View All
                        </a>

                    </div>

                </div>

            </div>


        </div>

    </div>

</section>
