<!-- Research Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading">The dynamic and flexible nature of Working Memory</h4>
                    <p class="text-primary">In a line of research funded by the <a href="https://cordis.europa.eu/project/id/101000972" target="_blank">ERC</a>, we investigate the representational dynamics underlying the flexibility of human working memory (WM). Specifically, we use fMRI, EEG, eye-tracking, and computational modeling to examine (i) the level(s) of abstraction of WM representations and how they unfold in space and time, (ii) modulations by distraction and by concurrent memories, (iii) how WM processes intersect with long-term memory, (iv) task-oriented reformatting of WM contents, and (iv) factors that give rise to WM biases and distortions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="service-heading">Memory-based valuation and inference</h4>
                    <p class="text-primary">Humans make decisions both in situations where information is abundant and in situations where information is sparse and incomplete. In ongoing work funded by the <a href="https://gepris.dfg.de/gepris/person/242924565?language=en" target="_blank">German Research Foundation (DFG)</a>, we investigate (i) which decision strategies humans adapt when the relevant data exceed their processing capacities (e.g., in WM) and (ii) how they learn to infer global structure from sparse local experience (e.g., transitive inference).</p>
                </div>
            </div>
        </div>
    </section>