<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">All dorks but good people</h3>
                </div>
            </div>
            <!-- PI Section -->
            <div class="row">
                {% assign pi = site.people | where: "role", "PI" | first %}
                {% if pi %}
                <div class="col-sm-12 text-center">
                    <div class="team-member" style="max-width:340px;margin:0 auto;">
                        <img src="img/team/{{ pi.pic }}.jpg" class="img-oval" alt="">
                        <h4>{{ pi.name }}</h4>
                        <p class="text-muted">{{ pi.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in pi.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Postdocs Section -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted" style="margin-top:40px;">Postdocs</h3>
                </div>
            </div>
            {% assign postdocs = site.people | where: "role", "Postdoc" %}
            <div class="row justify-content-center">
            {% for member in postdocs %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-oval" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if forloop.index0 != 0 and forloop.index0 % 4 == 3 %}</div><div class="row">{% endif %}
            {% endfor %}
            </div>

            <!-- PhDs Section -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted" style="margin-top:40px;">PhDs</h3>
                </div>
            </div>
            {% assign phds = site.people | where: "role", "PhD" %}
            <div class="row justify-content-center">
            {% for member in phds %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-oval" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if forloop.index0 != 0 and forloop.index0 % 4 == 3 %}</div><div class="row">{% endif %}
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>